{
    "configuration": {
        "design": {
            "header": {
                "welcome": {
                    "website": {
                        "test_site": "test Site welcome"
                    }
                }
            }
        }
    }
}