"title","instance_type","theme","store_view_codes","widget_parameters","sort_order","page_group","layout_handle","block_reference","page_for","entities","page_template"
"CMS Static Block Widget","Magento\Cms\Block\Widget\Block","Magento/blank","default","{""block_id"":""{{block code=""sample-block-content""}}""}","0","all_pages","default","top.container","all",,"widget/static_block/default.phtml"
"Dynamic Blocks Widget","Magento\Banner\Block\Widget\Banner","Magento/blank","admin","{""display_mode"":""fixed"",""types"":[""content""],""rotate"":""random"",""banner_ids"":""{{dynamicblock name=""Sample Dynamic Block Content""}}"",""unique_id"":""2b19552530ae07f52a52978c6319015d78bf4b36386838b6f0fea961f7c82f69"",""banner_uids"":""""}","1","pages","cms_index_index","page.top","all",,"widget/block.phtml"